.navigation__item--selected {
    border-bottom: 4px solid #DB7A4E;
}

.main-section {
    margin: 4em 0 0 0;
    height: 100vh;
    background-position: center;
    background-size: 100%;
} 

.main__title {
    color: #FFF;
}

.main-section--hawaii {
    background-image: url(../assets/hawaii.jpg);

}

.main-section--greece {
    background-image: url(../assets/greece.jpg);
}

.main-section--iceland {
    background-image: url(../assets/iceland.jpg);
}

.card__div {
    background-color: #FFF;
}


.card__title,
.card__list {
    text-align:center;
    margin: 0;
    padding: 0;
    color: #000;
}

.card__title {
    border-bottom: 2px solid #000;
}

.card__item {
    background-color: #FEFAF5;
}
