.navigation__item--selected {
    border-bottom: 4px solid #DB7A4E;
}

.main-section {
    margin: 4em 0 0 0;
    height: 100vh;
    background-position: center;
    background-size: 100%;
} 

.main__title {
    color: #FFF;
    font-size: 5rem;
    padding: 1em 0 0 1em;
}

.main-section--hawaii {
    background-image: url(../assets/hawaii.jpg);

}

.main-section--greece {
    background-image: url(../assets/greece.jpg);
}

.main-section--iceland {
    background-image: url(../assets/iceland.jpg);
}

.card__container {
    margin: 1em;
}

.card__div {
    background-color: #FFF;
    padding: 1em;
}


.card__item {
    padding: 0.75em 0;
    margin: 1em 0;
}


.card__title,
.card__list {
    text-align:center;
    margin: 0;
    padding: 0;
    color: #000;
}

.card__title {
    border-bottom: 3px solid #000;
    font-size: 1.1rem;
    margin-bottom: 1.5em;
}

.card__item {
    background-color: #FEFAF5;
}
