*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFF;
    color: #335576;
    padding: 0;
    margin: 0;
    width: 100vw;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFF;
    padding: 1em 6em 0.5em 6em;

}

.navigation__text,
.navigation__link {
    color: #000;
}

.navigation__list {
    display: flex;
    justify-content: space-evenly;
    width: 35%;

}

.navigation__list,
.card__list {
    list-style: none;
}

.navigation__link,
.card__link {
    text-decoration: none;
}

.navigation__link--logo {
    color: #335576;
    font-weight: 800;
    font-size: 1.25rem;
}

.navigation__item {
    padding-bottom: 0.5em;
}



.hero,
.footer {
    background-color: #FEFAF5;
}

.card-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}

.card__div,
.card__link {
    height: 22rem;
    width: 17rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.card__div--middle,
.card__link--iceland {
    margin: 0 3em;
}

.card__link {
    display: flex;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em 3em 4em 3em;

}

.footer__title {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.footer__subtitle {
    color: #DB7A4E;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 300;
}

.footer-section__hours {
    display: flex;
}

.footer-section__div {
    padding: 0 2em;
}

.footer-section__bottom {
    align-self: flex-end;
}

.footer__icon {
    height: 1.5em;
    margin: 1.5em 2em 0 0;
}

/* navigation link hover */

.navigation__item:hover {
    border-bottom: 4px solid #DB7A4E;
}